:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bcg-color: #ffffff;
  --secondary-bcg-color: #f5f4fa;
  --another-bcg-color: #2f303a;
}

h3 {
  margin-top: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

body {
  background-color: #ffffff;
  color: var(--title-text-color);
  font-family: "Roboto", sans-serif;
}

.section {
  padding-bottom: 94px;
  padding-top: 94px;
}

.no-scroll {
  overflow: hidden;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.btn {
  background-color: var(--accent-color);
  color: var(--primary-bcg-color);
  cursor: pointer;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  display: inline-block;
  margin-top: 30px;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover, .btn:focus {
  background-color: #188ce8;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  width: 528px;
  height: 581px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}
@media screen and (max-width: 1199px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}
@media screen and (max-width: 450px) {
  .modal {
    width: 100%;
  }
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--primary-bcg-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.modal__close-btnclose-icon {
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close-btn:hover .close-icon, .modal__close-btn:focus .close-icon {
  fill: var(--accent-color);
}

.modal__title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 12px;
}

.modal-inputs__label {
  margin-bottom: 4px;
  display: inline-block;
}

.modal-inputs__icon {
  left: 12px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.modal-inputs__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--title-text-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-inputs__input:focus {
  border-color: #2196f3;
}

.input-div {
  position: relative;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-div:focus-within {
  fill: #2196f3;
}

.modal-inputs__field {
  margin-bottom: 10px;
}

.modal-form {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.modal-inputs__text {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
}
.modal-inputs__text::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-inputs__text:focus {
  border-color: #2196f3;
  outline: none;
}

.checkbox {
  margin-bottom: 30px;
  margin-top: 20px;
}

.icon-span {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 4px;
  margin-right: 7px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox__input:checked + .icon-span {
  background-color: var(--accent-color);
  background-image: url("../img/icon checked.svg");
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
}
.checkbox__input:focus + .icon-span {
  outline: none;
  border: 2px solid var(--accent-color);
}

.checkbox__link {
  color: #2196f3;
}

.checkbox__input {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.checkbox__label {
  display: flex;
  justify-items: baseline;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
@media screen and (max-width: 1199px) {
  .checkbox__label {
    font-size: 12px;
    line-height: 14px;
  }
}
.checkbox:checked + .checkbox__label {
  border: 2px solid var(--accent-color);
}

.modal-form__btn {
  margin: 0 auto;
  display: block;
}

.hero {
  background-color: var(--another-bcg-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-bg-2x.jpg);
  }
}
@media screen and (max-width: 1199px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-bg-tab.jpg);
  }
}
@media screen and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (max-width: 1199px) and (min-resolution: 192dpi), screen and (max-width: 1199px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-bg-tab-2x.jpg);
  }
}
@media screen and (max-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-bg-mob.jpg);
  }
}
@media screen and (max-width: 768px) and (min-device-pixel-ratio: 2), screen and (max-width: 768px) and (min-resolution: 192dpi), screen and (max-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-bg-mob-2x.jpg);
  }
}

.hero__title {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--primary-bcg-color);
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  width: 696px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (max-width: 1199px) {
  .hero__title {
    font-size: 26px;
    line-height: 1.62;
    width: 360px;
  }
}
@media screen and (max-width: 380px) {
  .hero__title {
    font-size: 16px;
    width: 300px;
  }
}

.navigation__logo {
  color: var(--title-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  display: flex;
  margin-right: 93px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts {
    display: flex;
    flex-direction: column;
  }
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.list .contacts__item + .contacts__item {
  margin-left: 50px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .list .contacts__item + .contacts__item {
    margin-left: 0;
  }
}

.navigation__item + .navigation__item {
  margin-left: 50px;
}

.navigation__item {
  display: flex;
  display: inline-block;
}
.navigation__item .link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
}

.icon-envelope {
  margin-right: 8px;
  fill: currentColor;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .icon-envelope {
    height: 10px;
    width: 14px;
  }
}
.icon-envelope:hover {
  fill: currentColor;
}

.icon-smartphone {
  margin-right: 8px;
  fill: currentColor;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .icon-smartphone {
    height: 14px;
    width: 10px;
  }
}
.icon-smartphone:hover {
  fill: var(--accent-color);
}

.smartphone-link {
  align-items: baseline;
}

.contacts {
  margin-left: auto;
  display: flex;
  align-items: baseline;
}
@media screen and (max-width: 767px) {
  .contacts {
    display: none;
  }
}

.navigation {
  display: flex;
  align-items: baseline;
}

.menu-link {
  display: block;
  position: relative;
}

.menu-link.current::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: currentColor;
  position: absolute;
  left: 0;
  bottom: -2px;
  border-radius: 2px;
}
@media screen and (max-width: 767px) {
  .menu-link.current::after {
    display: none;
  }
}

.link {
  text-decoration: none;
}

.part-link {
  color: var(--accent-color);
}

.navigation__list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  display: flex;
}
@media screen and (max-width: 767px) {
  .navigation__list {
    display: none;
  }
}
.navigation__list .navigation__link.current {
  color: var(--accent-color);
}
.navigation__list .navigation__link {
  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__list .navigation__link:hover, .navigation__list .navigation__link:focus {
  color: var(--accent-color);
}

.contacts__link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  display: flex;
  align-items: baseline;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__link {
    font-size: 12px;
  }
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
}

.top {
  display: flex;
  padding-bottom: 0;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .top {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.header {
  border-bottom: 1px solid #ececec;
}

.menu-open {
  padding: 0;
  display: block;
  border: none;
  height: 40px;
  margin-left: auto;
}
.menu-openicon-menu {
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-open:hover .icon-menu, .menu-open:focus .icon-menu {
  fill: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .menu-open {
    display: none;
  }
}

.icon-menu {
  background-color: #ffffff;
}

.mob-menu {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: #ffffff;
  top: 0;
  z-index: 2;
  padding-bottom: 48px;
}
@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}

.mob-menu.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.menu-close {
  padding: 0;
  display: block;
  border: none;
  height: 40px;
  margin-left: auto;
}
.menu-closeicon-close {
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-close:hover .icon-close, .menu-close:focus .icon-close {
  fill: var(--accent-color);
}

.icon-close {
  background-color: #ffffff;
}

.mob-navigation__item {
  display: flex;
  display: inline-block;
}
.mob-navigation__item .link {
  display: flex;
  padding-bottom: 32px;
  align-items: center;
}

.mob-contacts {
  margin-top: 302px;
  margin-left: auto;
  display: flex;
  align-items: baseline;
  flex-direction: column-reverse;
}

.mob-navigation {
  display: flex;
  align-items: baseline;
}

.mob-navigation__list {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
}
.mob-navigation__list .mob-navigation__link {
  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-navigation__list .mob-navigation__link:hover, .mob-navigation__list .mob-navigation__link:focus {
  color: var(--accent-color);
}

.mob-smartphone-link {
  align-items: baseline;
  font-size: 40px;
}

.mob-contacts__link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 28px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  display: flex;
  align-items: baseline;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-contacts__link:hover, .mob-contacts__link:focus {
  color: var(--accent-color);
}

.mob-contacts__item {
  padding-bottom: 32px;
}

.mob-smartphon-link {
  font-size: 40px;
  color: var(--accent-color);
}

.networks {
  display: flex;
  gap: 20px;
  margin-top: 64px;
  flex-wrap: wrap;
}

.networks-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.networks-item:not(:last-child) {
  border-right: 2px solid rgba(33, 33, 33, 0.2);
  padding-right: 20px;
}

.features__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  gap: 30px;
}

.features__item {
  width: 100%;
}
.features__item:last-child {
  margin-right: 0;
}
@media screen and (min-width: 768px) {
  .features__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    width: calc((100% - 90px) / 4);
  }
}

.features__block {
  height: 120px;
  width: 100%;
  background-color: var(--secondary-bcg-color);
  margin-bottom: 30px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.features__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .features__title {
    text-align: center;
  }
}

.features__text {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 1200px) {
  .features {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 1199px) {
  .services {
    display: none;
  }
}

.section__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 50px;
}

.work {
  display: flex;
  width: 1170px;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.work__item {
  margin-right: 30px;
  position: relative;
}
.work__item:last-child {
  margin-right: 0;
}

.work__div {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(47, 48, 58, 0.8);
}

.work__text {
  color: var(--primary-bcg-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.team {
  background-color: var(--secondary-bcg-color);
}
@media screen and (max-width: 1200px) {
  .team {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.cards__list {
  background-color: var(--primary-bcg-color);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.1411764706), 0px 1px 3px 0px rgba(0, 0, 0, 0.1215686275);
}
.cards__list:last-child {
  margin-right: 0;
}
@media screen and (min-width: 768px) {
  .cards__list {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .cards__list {
    width: calc((100% - 90px) / 4);
  }
}

.cards__title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.cards__text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.cards__div {
  padding-top: 30px;
  padding-bottom: 30px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  gap: 30px;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-list__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__link:hover, .social-list__link:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.social-list__icon {
  fill: currentColor;
}

@media screen and (max-width: 1200px) {
  .clients {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  gap: 30px;
}

.clients__link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-color: #afb1b8;
  border-radius: 4px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  fill: #2196f3;
  border-color: #2196f3;
}

.clients__icon {
  width: 106px;
  height: 60px;
}

.clients__item {
  height: 92px;
  width: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .clients__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: calc((100% - 150px) / 6);
  }
}

.footer {
  background-color: var(--another-bcg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.address {
  font-style: normal;
}
.address__list {
  padding-left: 0;
  margin: auto;
}
@media screen and (max-width: 1199px) {
  .address__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 1199px) {
  .address {
    margin: auto;
    margin-bottom: 60px;
  }
}

.footer-part-link {
  color: var(--primary-bcg-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  display: inline-block;
}

.address__link {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  display: inline-block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__link:hover, .address__link:focus {
  color: var(--accent-color);
}

.footer-address-link {
  color: var(--primary-bcg-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-address-link:hover, .footer-address-link:focus {
  color: var(--accent-color);
}

.address__item {
  margin-bottom: 9px;
}
.address__item:last-child {
  margin-bottom: 0;
}

.social__title {
  color: var(--primary-bcg-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.social {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1200px) {
  .social {
    margin-left: 70px;
  }
}
@media screen and (max-width: 767px) {
  .social {
    margin: auto;
    margin-bottom: 60px;
  }
}

.soc-network {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.soc-network__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-network__link:hover, .soc-network__link:focus {
  background-color: #2196f3;
}

.soc-network__icon {
  fill: currentColor;
}

.end {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
}
@media screen and (max-width: 767px) {
  .end {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
  }
}
@media screen and (min-width: 1199px) {
  .end {
    align-items: baseline;
  }
}

.footer-field__input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: rgb(47, 48, 58);
  padding-left: 16px;
  margin-right: 12px;
  color: var(--primary-bcg-color);
}
@media screen and (max-width: 1199px) {
  .footer-field__input {
    margin-right: 0;
    margin-bottom: 20px;
    width: 450px;
  }
}
@media screen and (max-width: 767px) {
  .footer-field__input {
    width: 100%;
  }
}
.footer-field__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 1200px) {
  .subscribe {
    margin-left: 93px;
  }
}

.footer-field {
  display: flex;
}
.footer-field__btn {
  margin-top: 0;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 1199px) {
  .footer-field {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-field {
    flex-direction: column;
  }
}

.subscribe__title {
  color: var(--primary-bcg-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}
@media screen and (max-width: 1199px) {
  .subscribe__title {
    text-align: center;
  }
}

@media screen and (max-width: 1199px) {
  .final {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
  }
}

.button {
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--secondary-bcg-color);
  border: none;
  padding: 6px 22px 6px 22px;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover, .button:focus {
  color: var(--primary-bcg-color);
  background-color: var(--accent-color);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1215686275), 0px 1px 2px 0px rgba(0, 0, 0, 0.0784313725), 0px 3px 1px 0px rgba(0, 0, 0, 0.1019607843);
}

.filters {
  display: flex;
  margin-bottom: 50px;
  flex-wrap: wrap;
  row-gap: 15px;
  column-gap: 8px;
}
@media screen and (min-width: 768px) {
  .filters {
    justify-content: center;
  }
}

.filters__items {
  margin-right: 8px;
}
.filters__items:last-child {
  margin-right: 0;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.projects .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin-bottom: 4px;
  margin-top: 0;
}
.projects .text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.projects__item:nth-child(3n) {
  margin-right: 0;
}
.projects__item:nth-last-child(-n+3) {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .projects__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .projects__item {
    width: calc((100% - 60px) / 3);
  }
}

.projects__div {
  padding: 20px 24px 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  flex-grow: 1;
}

.projects__link {
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects__link:hover, .projects__link:focus {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.1607843137), 0px 4px 4px 0px rgba(0, 0, 0, 0.0588235294), 0px 1px 1px 0px rgba(0, 0, 0, 0.1215686275);
}

.projects__thumb {
  position: relative;
  overflow: hidden;
}

.projects__text {
  position: absolute;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgba(33, 150, 243, 0.9);
  display: inline-block;
  top: 0;
  left: 0;
  width: 370px;
  height: 294px;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 63px 24px;
}
.projects__link:hover .projects__text, .projects__link:focus .projects__text {
  transform: translateY(0);
}

@media screen and (max-width: 1200px) {
  .portfolio {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}/*# sourceMappingURL=main.css.map */